:root{
    --c: #55430942;
}




*{
      margin:0px;
      padding:0px;
      color:white;
   }
body{
      background:linear-gradient(#382b01,#000000);
      height: 100vh;
      width: 100%;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home{
    width:100%;
    height:100vh;
    user-select: none;

 }
 nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 0rem 2rem;
    align-items: center;
    background: var(--c);
    border-radius: 25px;
    position: relative;
    top: 2rem;
    user-select: none;
    position: fixed;
    width: 90%;
 }

 h1{
    font-size: 2rem;
 }
span{
    color:#c19e2b;
    font-size: 2.5rem;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    margin: 0rem 1.5rem;

}
li a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.6s;
    display: inline-block;
    padding: 7px 9px;

}
li a:hover{
    color: #ffe89c;
    transform: scale(1.6);
    border-radius: 15px;
    background:#f4e3a830 ;
}
.btn{
    padding: 13px 0.9rem;
    border: solid 1px #7d6a2c;
    background: #7d6a2c;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.6s;
}
.btn:hover{
    background: transparent;
}
.h-m{
    margin: 14rem 4rem;
    display: flex;
    justify-content: space-around;
}
.h-m img{
    position: relative;
    bottom: 22px;
    width: 215px;
    height: 283px;
    border: solid 3px #7d6a2c;
    border-radius: 45px;
}
.h-m div{
    position:relative;
    top: 1rem;
    left: 4rem;
}
.h-m h2{
    letter-spacing: 1px;
    font-size: 3rem;
}
.service{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;


}
.card{
    width: 13rem;
    height: 17rem;
    background: #000;
    padding: 0;
    margin: 0;
}
.card img{
    position: relative;
background: #d74e4e;
  width: 11rem;
  height: 173px;
  border: none;
  border-radius: 20px;
  margin-left:1rem ;

}